@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Shippori Mincho', serif;
    background: #f4f4f4;
}

img{
    width: 100%;
    object-fit: contain;
}